/*------------------------------------------------------------------------------
postSummary base
------------------------------------------------------------------------------*/

@import "config.css";
@import "thumbnail.css";
@import "categories.css";

[gui-postSummary] {
    float: left;
    clear: both;

    text-align: center;
}

[gui-postSummary]:not(:last-child) {
    margin-bottom: calc(var(--rootLineHeight) * 2rem);
}

[gui-postSummary-date] {
    display: block;
    text-transform: lowercase;
}
