/*------------------------------------------------------------------------------
postSummary categories part
------------------------------------------------------------------------------*/

[gui-postSummary-categories] {
    display: inline-block;
    vertical-align: top;
}

[gui-postSummary-categories]:after {
    content: '';
    display: table;
    clear: both;
}

[gui-postSummary-categories] a {
    display: block;
    float: left;

    text-transform: lowercase;
}

[gui-postSummary-categories] a:not(:last-child) {
    margin-right: var(--w-small);
}
