/*------------------------------------------------------------------------------
postSummary config
------------------------------------------------------------------------------*/

:root {

    --postSummary-thumbnail-c: currentColor;
    --postSummary-thumbnail-c-hover: var(--c-amaranth);
    --postSummary-thumbnail-c-active: var(--c-purple);
    --postSummary-thumbnail-c-visited: var(--c-violet);
    --postSummary-thumbnail-w: calc(var(--rootLineHeight) * 8rem); /* 192px */

}
