/*------------------------------------------------------------------------------
postSummary thumbnail part
------------------------------------------------------------------------------*/

[gui-postsummary-thumbnail] {
    display: block;
    position: relative;

    /* remove link styles */
    background-image: none !important;
}

[gui-postsummary-thumbnail-title] {
    display: block;

    font-size: 1.5rem;
    font-weight: 700;

    /* computed height of leading and margins is 2x default leading */
    line-height: calc(var(--rootLineHeight) * 1rem);
    margin-top: calc(var(--rootLineHeight) * 0.5rem);
    margin-bottom: calc(var(--rootLineHeight) * 0.5rem);
}

[gui-postsummary-thumbnail-icon] {
    display: block;
    width: var(--postSummary-thumbnail-w);
    height: var(--postSummary-thumbnail-w);
    margin-left: auto;
    margin-right: auto;

    fill: var(--postSummary-thumbnail-c);
}

[gui-postsummary-thumbnail-description] {
    display: block;
    position: absolute;
    z-index: var(--z-1);
    top: 100%;
    left: -10%;
    right: -10%;

    margin-top: calc(var(--rootLineHeight) * 0.5rem);
    padding: calc(var(--rootLineHeight) * 0.5rem);

    background-color: var(--app-bg-c);
    box-shadow: 0 0 0 var(--line-gr-w) currentColor;

    pointer-events: none;

    text-align: left;

    visibility: hidden;
    opacity: 0;

    transition-property: opacity, visibility;
    transition-delay: var(--d-faster);
    transition-duration: var(--d-fast);
}

[gui-postsummary-thumbnail]:hover [gui-postsummary-thumbnail-description] {
    visibility: visible;
    opacity: 1;

    transition-property: opacity, visibility;
    transition-delay: var(--d-slower);
    transition-duration: var(--d-fast);
}

/* states ordered to make styles always work */

[gui-postsummary-thumbnail]:visited {
    color: var(--postSummary-thumbnail-c-visited);
}
[gui-postsummary-thumbnail]:visited [gui-postsummary-thumbnail-icon] {
    fill: var(--postSummary-thumbnail-c-visited);
}

[gui-postsummary-thumbnail]:hover {
    color: var(--postSummary-thumbnail-c-hover);
}
[gui-postsummary-thumbnail]:hover [gui-postsummary-thumbnail-icon] {
    fill: var(--postSummary-thumbnail-c-hover);
}

[gui-postsummary-thumbnail]:active {
    color: var(--postSummary-thumbnail-c-active);
}
[gui-postsummary-thumbnail]:active [gui-postsummary-thumbnail-icon] {
    fill: var(--postSummary-thumbnail-c-active);
}
