<div gui-devpalette>

    <div gui-devpalette-color="amaranth">amaranth</div>
    <div gui-devpalette-color="purple">purple</div>
    <div gui-devpalette-color="violet">violet</div>
    <div gui-devpalette-color="blackcurrant">blackcurrant</div>

</div>
