<div gui-devPalette>

    <div gui-devPalette-color="amaranth">amaranth</div>
    <div gui-devPalette-color="purple">purple</div>
    <div gui-devPalette-color="violet">violet</div>
    <div gui-devPalette-color="blackcurrant">blackcurrant</div>

</div>
