<nav gui-menu>
    {% for category in site.data.categories %}
        <a
            gui-menu-item="{% if category.slug == page.slug or page.categories contains category.slug%}current{% endif %}"
            href="{{ site.baseurl }}{{ category.url }}"
        >
            {{ category.label }}
        </a>
    {% endfor %}
</nav>
