<nav gui-menu>

    {% for place in site.data.navigation %}
        <a
            gui-menu-item="{% if place.slug == page.slug %}current{% endif %}
                "
            href="{{ site.baseurl }}{{ place.url }}"
        >
            {{ place.label }}
        </a>
    {% endfor %}

</nav>
