<header gui-pagesection="short">

    <a gui-logo href="{{ site.rootSiteUrl }}/">
        <svg><use xlink:href="#symbol-smutnyleszek-logo"></svg>
    </a>

    {% include global/categoriesMenu.liquid %}

</header>
