<header gui-pageSection="short">

    <a gui-logo href="{{ site.baseurl }}/">
        <svg><use xlink:href="#icon-smutnyleszek-logo"></svg>
    </a>

    {% include global/categoriesMenu.liquid %}

</header>
