<header id="pageHeader">

    <a href="{{ site.baseurl }}/">
        <svg gui-icon="logo"><use xlink:href="#icon-smutnyleszek-logo"></svg>
    </a>

    {% include global/mainMenu.liquid %}

</header>
