/*******************************************************************************
logo base
*******************************************************************************/

:root {
    --logo-w: calc(var(--s-leading) * 4); /* 96px */
    --logo-c: currentColor;
    --logo-c-visited: currentColor;
    --logo-c-hover: var(--c-amaranth);
    --logo-c-active: var(--c-purple);
}

[i-logo] {
    display: block;
    width: var(--logo-w);
    height: var(--logo-w);

    margin-bottom: var(--s-leading);

    /* remove link styles */
    background-image: none !important;
}

[i-logo] svg {
    width: var(--logo-w);
    height: var(--logo-w);
    fill: var(--logo-c);
}

/* states ordered to make styles always work */

[i-logo]:visited svg { fill: var(--logo-c-visited); }

[i-logo]:hover svg { fill: var(--logo-c-hover); }

[i-logo]:active svg { fill: var(--logo-c-active); }
