/*------------------------------------------------------------------------------
logo base
------------------------------------------------------------------------------*/

:root {
    --logo-w: calc(var(--root-lineHeight) * 4rem); /* 96px */
    --logo-c: currentColor;
    --logo-c-visited: currentColor;
    --logo-c-hover: var(--c-amaranth);
    --logo-c-active: var(--c-purple);
}

[gui-logo] {
    display: block;
    width: var(--logo-w);
    height: var(--logo-w);

    margin-bottom: calc(var(--root-lineHeight) * 1rem);

    /* remove link styles */
    background-image: none !important;
}

[gui-logo] svg {
    width: var(--logo-w);
    height: var(--logo-w);
    fill: var(--logo-c);
}

/* states ordered to make styles always work */

[gui-logo]:visited svg { fill: var(--logo-c-visited); }

[gui-logo]:hover svg { fill: var(--logo-c-hover); }

[gui-logo]:active svg { fill: var(--logo-c-active); }
