/*------------------------------------------------------------------------------
menu base
------------------------------------------------------------------------------*/

:root {
    --menu-item-current-line-gr:
        linear-gradient( to right, var(--line-gr-solid-c) ),
        linear-gradient( to bottom, var(--line-gr-solid-c) ),
        linear-gradient( to left, var(--line-gr-solid-c) ),
        linear-gradient( to top, var(--line-gr-solid-c) )
    ;
    --menu-item-current-line-gr-hover:
        linear-gradient( to right, var(--line-gr-solid-c) ),
        linear-gradient( to bottom, var(--line-gr-solid-c) ),
        linear-gradient( to left, var(--line-gr-solid-c) ),
        linear-gradient( to top, var(--line-gr-solid-c) )
    ;
    --menu-item-current-line-gr-w: var(--line-gr-w);
}

[gui-menu]:not(:last-child) {
    margin-bottom: var(--s-leading);
}

[gui-menu]:after {
    content: '';
    display: table;
    clear: both;
}

[gui-menu-item] {
    display: block;
    float: left;

    text-transform: lowercase;
}

[gui-menu-item]:not(:last-child) {
    margin-right: 0.625rem;
}

[gui-menu-item~="current"] {
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    background-image: var(--menu-item-current-line-gr) !important;
    background-repeat: repeat-x, repeat-y;
    background-position: 0 0, 100% 0, 0 100%;
}
