/*******************************************************************************
pageTitle module
*******************************************************************************/

[i-pagetitle] {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: calc(var(--s-leading) * 2);
    max-width: var(--s-root-content);
}

[i-pagetitle-name] {
    font-weight: 400;
    font-size: 4rem;
    line-height: calc(var(--s-leading) * 2);
}

[i-pagetitle-meta] {
    display: block;
    margin-top: var(--s-leading);
    font-style: italic;
    text-transform: lowercase;
}

[i-pagetitle-description] {
    display: block;
    margin-top: var(--s-leading);
    font-weight: 700;
}
