/*******************************************************************************
pageSection base
*******************************************************************************/

[i-pagesection] {
    margin-bottom: calc(var(--s-leading) * 2);
}

[i-pagesection~="short"] {
    max-width: var(--s-root-content);
    margin-left: auto;
    margin-right: auto;
}

[i-pagesection]:after {
    content: '';
    display: table;
    clear: both;
}
