/*******************************************************************************
postSummary
*******************************************************************************/

:root {
    --postSummary-thumbnail-c: currentColor;
    --postSummary-thumbnail-c-hover: var(--c-amaranth);
    --postSummary-thumbnail-c-active: var(--c-purple);
    --postSummary-thumbnail-c-visited: var(--c-violet);
    --postSummary-thumbnail-w: calc(var(--s-leading) * 9); /* 216px */
}

[i-postsummary-container] {
    text-align: center;
}

[i-postsummary] {
    display: inline-block;
    margin-left: var(--s-leading);
    margin-right: var(--s-leading);
    margin-bottom: calc(var(--s-leading) * 2);

    text-align: center;
}

[i-postsummary-date] {
    display: block;
    text-transform: lowercase;
}

/*******************************************************************************
postSummary thumbnail
*******************************************************************************/

[i-postsummary-thumbnail] {
    display: block;
    position: relative;

    /* remove link styles */
    background-image: none !important;
}

[i-postsummary-thumbnail-title] {
    display: block;

    font-size: 1.5rem;
    font-weight: 700;

    /* computed height of leading and margins is 2x default leading */
    line-height: var(--s-leading);
    margin-top: calc(var(--s-leading) * 0.5);
    margin-bottom: calc(var(--s-leading) * 0.5);
}

[i-postsummary-thumbnail-icon] {
    display: block;
    width: var(--postSummary-thumbnail-w);
    height: var(--postSummary-thumbnail-w);
    margin-left: auto;
    margin-right: auto;

    fill: var(--postSummary-thumbnail-c);
}

[i-postsummary-thumbnail-description] {
    display: inline-block;
    max-width: var(--postSummary-thumbnail-w);

    margin-top: calc(var(--s-leading) * 0.5);
    margin-bottom: calc(var(--s-leading) * 0.5);
    padding: calc(var(--s-leading) * 0.5);

    box-shadow: 0 0 0 var(--line-gr-w) currentColor;

    text-align: left;
}

/* states ordered to make styles always work */

[i-postsummary-thumbnail]:visited {
    color: var(--postSummary-thumbnail-c-visited);
}
[i-postsummary-thumbnail]:visited [i-postsummary-thumbnail-icon] {
    fill: var(--postSummary-thumbnail-c-visited);
}

[i-postsummary-thumbnail]:hover {
    color: var(--postSummary-thumbnail-c-hover);
}
[i-postsummary-thumbnail]:hover [i-postsummary-thumbnail-icon] {
    fill: var(--postSummary-thumbnail-c-hover);
}

[i-postsummary-thumbnail]:active {
    color: var(--postSummary-thumbnail-c-active);
}
[i-postsummary-thumbnail]:active [i-postsummary-thumbnail-icon] {
    fill: var(--postSummary-thumbnail-c-active);
}
