/*******************************************************************************
postSummary module
*******************************************************************************/

:root {
    --s-postSummary-thumbnail: calc(var(--s-leading) * 9); /* 216px */
}

[i-postsummary-container] {
    text-align: center;
}

[i-postsummary] {
    display: inline-block;
    margin-left: var(--s-leading);
    margin-right: var(--s-leading);
    margin-bottom: calc(var(--s-leading) * 2);
    text-align: center;
}

[i-postsummary-date] {
    display: block;
    text-transform: lowercase;
}

/*******************************************************************************
postSummary thumbnail
*******************************************************************************/

[i-postsummary-thumbnail] {
    display: block;
    position: relative;
    /* remove link styles */
    background-image: none !important;
}

[i-postsummary-thumbnail-title] {
    display: block;
    /* computed height of leading and margins is 2x default leading */
    margin-top: calc(var(--s-leading) * 0.5);
    margin-bottom: calc(var(--s-leading) * 0.5);
    font-size: 1.5rem;
    font-weight: 700;
    line-height: var(--s-leading);
}

[i-postsummary-thumbnail-icon] {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: var(--s-postSummary-thumbnail);
    height: var(--s-postSummary-thumbnail);
    fill: currentColor;
}

[i-postsummary-thumbnail-description] {
    display: inline-block;
    margin-top: calc(var(--s-leading) * 0.5);
    margin-bottom: calc(var(--s-leading) * 0.5);
    padding: calc(var(--s-leading) * 0.5);
    max-width: var(--s-postSummary-thumbnail);
    box-shadow: 0 0 0 var(--line-gr-w) currentColor;
    text-align: left;
}

/* states ordered to make styles always work */

[i-postsummary-thumbnail]:visited,
[i-postsummary-thumbnail]:visited [i-postsummary-thumbnail-title],
[i-postsummary-thumbnail]:visited [i-postsummary-thumbnail-description] {
    color: var(--c-global-visited);
}

[i-postsummary-thumbnail]:visited [i-postsummary-thumbnail-icon] {
    fill: var(--c-global-visited);
}

[i-postsummary-thumbnail]:hover,
[i-postsummary-thumbnail]:hover [i-postsummary-thumbnail-title],
[i-postsummary-thumbnail]:hover [i-postsummary-thumbnail-description] {
    color: var(--c-global-hover);
}

[i-postsummary-thumbnail]:hover [i-postsummary-thumbnail-icon] {
    fill: var(--c-global-hover);
}

[i-postsummary-thumbnail]:active,
[i-postsummary-thumbnail]:active [i-postsummary-thumbnail-title],
[i-postsummary-thumbnail]:active [i-postsummary-thumbnail-description] {
    color: var(--c-global-active);
}

[i-postsummary-thumbnail]:active [i-postsummary-thumbnail-icon] {
    fill: var(--c-global-active);
}
