/*******************************************************************************
projectImage base
*******************************************************************************/

[gui-projectimage] {
    max-width: 100%;

    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: var(--s-leading);
}

[gui-projectimage-thumbnail],
[gui-projectimage-thumbnail] img {
    max-width: inherit;
}

[gui-projectimage-title] {
    display: block;
}
