/*******************************************************************************
projectRelated base
*******************************************************************************/

:root {
    --projectRelated-c: currentColor;
    --projectRelated-c-visited: var(--c-violet);
    --projectRelated-c-hover: var(--c-amaranth);
    --projectRelated-c-active: var(--c-purple);
    --projectRelated-symbol-w: var(--s-leading);
}

[i-projectrelated] {
    display: block;
    float: left;
    clear: both;

    /* remove link styles */
    background-image: none !important;
}

[i-projectrelated]:not(:last-child) {
    margin-bottom: var(--s-leading);
}

[i-projectrelated-title] { font-weight: 700; }

[i-projectrelated-icon],
[i-projectrelated-title],
[i-projectrelated-subtitle] {
    display: inline-block;
    /* not middle, because of generating additional vertical pxs */
    vertical-align: top;
}

[i-projectrelated-icon] {
    width: var(--projectRelated-symbol-w);
    height: var(--projectRelated-symbol-w);

    fill: var(--projectRelated-c);
}

/* states ordered to make styles always work */

[i-projectrelated]:visited {
    color: var(--projectRelated-c-visited);
}
[i-projectrelated]:visited [i-projectrelated-icon] {
    fill: var(--projectRelated-c-visited);
}

[i-projectrelated]:hover {
    color: var(--projectRelated-c-hover);
}
[i-projectrelated]:hover [i-projectrelated-icon] {
    fill: var(--projectRelated-c-hover);
}

[i-projectrelated]:active {
    color: var(--projectRelated-c-active);
}
[i-projectrelated]:active [i-projectrelated-icon] {
    fill: var(--projectRelated-c-active);
}
