/*******************************************************************************
signature module
*******************************************************************************/

[i-signature] {
    display: inline-block;
    vertical-align: bottom;
    /* remove link styles */
    background-image: none !important;
    color: currentColor;
    font-weight: 700;
    font-style: italic;
    /* magic value too look perfect */
    line-height: calc(var(--s-leading) / 1.5);
    text-transform: lowercase;
}

[i-signature]:visited { color: currentColor; }
[i-signature]:hover { color: var(--c-amaranth); }
[i-signature]:active { color: var(--c-purple); }
