/*******************************************************************************
signature base
*******************************************************************************/

:root {
    --signature-c: currentColor;
    --signature-c-visited: currentColor;
    --signature-c-hover: var(--c-amaranth);
    --signature-c-active: var(--c-purple);
}

[gui-signature] {
    float: left;

    font-weight: 700;
    text-transform: lowercase;
    font-style: italic;

    /* remove link styles */
    background-image: none !important;

    /* magic value too look perfect */
    line-height: 0.875rem;

}

[gui-signature~="3"] {
    /* magic value to match missing pixels for 3 times rootLineHeight */
    padding-top: 0.1875rem;
    padding-bottom: 0.1875rem;
}

[gui-signature~="4"] {
    /* magic value to match missing pixels for 4 times rootLineHeight */
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

[gui-signature]:visited { color: var(--signature-c-visited); }
[gui-signature]:hover { color: var(--signature-c-hover); }
[gui-signature]:active { color: var(--signature-c-active); }
