---
layout: default
slug: all
---

<section i-pagesection="short">
    The three values closest to my heart are: simplicity, order and meaning. I design and build systems of various complexity, either via frontend code or graphical handmakings. My <em>artistic side</em> [sic] is brought to light when I draw and illustrate stuff. As I fear for the future of humanity, and don't want to throw more senseless evil out there, I try to take part only in meaningful, nature- and future-friendly projects.
</section>

<section i-postsummary-container>
    {% for post in site.posts %}{% include listing/postSummary.liquid %}{% endfor %}
</section>
