/*******************************************************************************
listed-project module
*******************************************************************************/

:root {
    --s-listed-project-thumbnail: calc(var(--s-leading) * 9); /* 216px */
}

[i-listed-project] {
    display: inline-block;
    vertical-align: top;
    padding: var(--s-leading);
    padding-bottom: var(--s-leading-double);
    max-width: calc(var(--s-listed-project-thumbnail) + calc(var(--s-leading) * 2));
}

[i-listed-project--date] {
    display: block;
    text-transform: lowercase;
}

[i-listed-project--date]::before {
    content: "@\00a0";
    display: inline-block;
}

/*******************************************************************************
listed-project thumbnail
*******************************************************************************/

[i-listed-project--thumbnail] {
    display: block;
    position: relative;
    /* remove link styles */
    background-image: none !important;
}

[i-listed-project--thumbnail-title] {
    display: block;
    /* computed height of leading and margins is 2x default leading */
    margin-top: calc(var(--s-leading) * 0.5);
    margin-bottom: calc(var(--s-leading) * 0.5);
    font-size: 1.5rem;
    font-weight: 700;
    line-height: var(--s-leading);
    text-align: center;
}

[i-listed-project--thumbnail-icon] {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: var(--s-listed-project-thumbnail);
    height: var(--s-listed-project-thumbnail);
    fill: currentColor;
}

[i-listed-project--thumbnail-description] {
    display: inline-block;
    margin-top: calc(var(--s-leading) * 0.5);
    margin-bottom: calc(var(--s-leading) * 0.5);
    max-width: var(--s-listed-project-thumbnail);
    text-align: left;
}

/* states ordered to make styles always work */

[i-listed-project--thumbnail]:visited,
[i-listed-project--thumbnail]:visited [i-listed-project--thumbnail-title],
[i-listed-project--thumbnail]:visited [i-listed-project--thumbnail-description] {
    color: var(--c-global-visited);
}

[i-listed-project--thumbnail]:visited [i-listed-project--thumbnail-icon] {
    fill: var(--c-global-visited);
}

[i-listed-project--thumbnail]:hover,
[i-listed-project--thumbnail]:hover [i-listed-project--thumbnail-title],
[i-listed-project--thumbnail]:hover [i-listed-project--thumbnail-description] {
    color: var(--c-global-hover);
}

[i-listed-project--thumbnail]:hover [i-listed-project--thumbnail-icon] {
    fill: var(--c-global-hover);
}

[i-listed-project--thumbnail]:active,
[i-listed-project--thumbnail]:active [i-listed-project--thumbnail-title],
[i-listed-project--thumbnail]:active [i-listed-project--thumbnail-description] {
    color: var(--c-global-active);
}

[i-listed-project--thumbnail]:active [i-listed-project--thumbnail-icon] {
    fill: var(--c-global-active);
}
