/*******************************************************************************
logo module
*******************************************************************************/

:root {
    --s-logo: calc(var(--s-leading) * 4); /* 96px */
}

[i-logo] {
    display: block;
    margin-bottom: var(--s-leading);
    width: var(--s-logo);
    height: var(--s-logo);
    /* remove link styles */
    background-image: none !important;
}

[i-logo] svg {
    width: var(--s-logo);
    height: var(--s-logo);
    fill: currentColor;
}

/* states ordered to make styles always work */

[i-logo]:visited svg { fill: currentColor; }

[i-logo]:hover svg { fill: var(--c-global-hover); }

[i-logo]:active svg { fill: var(--c-global-active); }
