<header i-pagesection="short">
    <a i-logo href="{{ site.baseurl }}/">
        <svg><use xlink:href="#symbol-smutnyleszek-logo"></svg>
    </a>

    {% include modules/categories-list/categories-list.liquid categories=site.data.menuCategories %}
</header>
