/*******************************************************************************
page-title module
*******************************************************************************/

[i-page-title] {
    padding: var(--s-leading);
}

[i-page-title--name] {
    font-weight: 400;
    font-size: 4rem;
    line-height: var(--s-leading-double);
}

[i-page-title--meta] {
    display: block;
    margin-top: var(--s-leading);
    font-style: italic;
    text-transform: lowercase;
}

[i-page-title--description] {
    display: block;
    margin-top: var(--s-leading);
    font-weight: 700;
}
