/*******************************************************************************
pageSection module
*******************************************************************************/

[i-pagesection] {
    margin-bottom: calc(var(--s-leading) * 2);
}

[i-pagesection~="short"] {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--s-root-content);
}

[i-pagesection]::after {
    content: "";
    display: table;
    clear: both;
}
