/*******************************************************************************
typographic styles for generated content
*******************************************************************************/

:root {
    /* this should ideally give around 75 cpl (characters per line) */
    --s-typography-max-line-width: 35rem;
}

[i-prettypography] h1,
[i-prettypography] h2,
[i-prettypography] h3,
[i-prettypography] h4 {
    margin: 0;
    padding: 0;
    line-height: 1;
}

[i-prettypography] h1:not(:last-child),
[i-prettypography] h2:not(:last-child),
[i-prettypography] h3:not(:last-child),
[i-prettypography] h4:not(:last-child),
[i-prettypography] p:not(:last-child),
[i-prettypography] ul:not(:last-child),
[i-prettypography] ol:not(:last-child),
[i-prettypography] blockquote:not(:last-child),
[i-prettypography] pre:not(:last-child) {
    margin-top: 0;
    margin-bottom: var(--s-leading);
}

[i-prettypography] p,
[i-prettypography] ul,
[i-prettypography] ol,
[i-prettypography] blockquote {
    max-width: var(--s-typography-max-line-width);
}

[i-prettypography] h1 { font-size: 3rem; }

[i-prettypography] h2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 2rem;
}

[i-prettypography] h3 { font-size: 1.5rem; }

[i-prettypography] h4 {
    font-size: inherit;
    font-weight: 700;
}

[i-prettypography] p,
[i-prettypography] pre {
    margin: 0;
}

[i-prettypography] ul,
[i-prettypography] ol {
    margin-left: var(--s-leading);
    padding: 0;
}

[i-prettypography] ul { list-style-type: disc; }

[i-prettypography] ol { list-style-type: decimal; }

[i-prettypography] small,
[i-prettypography] sub,
[i-prettypography] sup {
    font-size: 75%;
}

[i-prettypography] sub,
[i-prettypography] sup {
    vertical-align: baseline;
    position: relative;
    line-height: 0;
}

[i-prettypography] sup { top: -0.5em; }

[i-prettypography] sub { bottom: -0.25em; }

[i-prettypography] strong { font-weight: 700; }

[i-prettypography] em { font-style: italic; }

[i-prettypography] blockquote {
    margin-left: 0;
    margin-right: 0;
    padding-left: var(--s-leading);
    box-shadow: inset 0.25rem 0 0 0 var(--c-silver);
    font-style: italic;
}

[i-prettypography] blockquote cite::before {
    content: "\2014";
    display: inline-block;
    margin-right: 0.25rem;
}

[i-prettypography] code,
[i-prettypography] pre {
    font-family: var(--font-monospace);
}

[i-prettypography] code {
    display: inline-block;
    vertical-align: bottom;
    border-radius: var(--s-global-br);
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    background-color: var(--c-silver);
    color: var(--c-blackcurrant);
    font-size: 0.75rem;
    line-height: var(--s-leading);
}

/* bigger blocks */
[i-prettypography] pre code {
    display: block;
    overflow: auto;
    max-width: 100%;
}
