/*******************************************************************************
projectImage module
*******************************************************************************/

[i-projectimage] {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: var(--s-leading);
    max-width: 100%;
}

[i-projectimage-thumbnail],
[i-projectimage-thumbnail] img {
    max-width: inherit;
}

[i-projectimage-title] {
    display: block;
}
