/*******************************************************************************
projectRelated module
*******************************************************************************/

[i-projectrelated] {
    display: block;
    float: left;
    clear: both;
    /* remove link styles */
    background-image: none !important;
}

[i-projectrelated]:not(:last-child) {
    margin-bottom: var(--s-leading);
}

[i-projectrelated-title] { font-weight: 700; }

[i-projectrelated-icon],
[i-projectrelated-title],
[i-projectrelated-subtitle] {
    display: inline-block;
    /* not middle, because of generating additional vertical pxs */
    vertical-align: top;
}

[i-projectrelated-icon] {
    width: var(--s-leading);
    height: var(--s-leading);
    fill: currentColor;
}

/* states ordered to make styles always work */

[i-projectrelated]:visited {
    color: var(--c-global-visited);
}

[i-projectrelated]:visited [i-projectrelated-icon] {
    fill: var(--c-global-visited);
}

[i-projectrelated]:hover {
    color: var(--c-global-hover);
}

[i-projectrelated]:hover [i-projectrelated-icon] {
    fill: var(--c-global-hover);
}

[i-projectrelated]:active {
    color: var(--c-global-active);
}

[i-projectrelated]:active [i-projectrelated-icon] {
    fill: var(--c-global-active);
}
