/*******************************************************************************
typographic styles for generated content
*******************************************************************************/

[i-typography] h1,
[i-typography] h2,
[i-typography] h3,
[i-typography] h4 {
    margin: 0;
    padding: 0;
    line-height: 1;
}

[i-typography] h1:not(:last-child),
[i-typography] h2:not(:last-child),
[i-typography] h3:not(:last-child),
[i-typography] h4:not(:last-child),
[i-typography] p:not(:last-child),
[i-typography] ul:not(:last-child),
[i-typography] ol:not(:last-child),
[i-typography] blockquote:not(:last-child),
[i-typography] pre:not(:last-child) {
    margin-top: 0;
    margin-bottom: var(--s-leading);
}

[i-typography] h1 { font-size: 3rem; }

[i-typography] h2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 2rem;
}

[i-typography] h3 { font-size: 1.5rem; }

[i-typography] h4 {
    font-size: inherit;
    font-weight: 700;
}

[i-typography] p,
[i-typography] pre {
    margin: 0;
}

[i-typography] ul,
[i-typography] ol {
    margin-left: var(--s-leading);
    padding: 0;
}

[i-typography] ul { list-style-type: disc; }

[i-typography] ol { list-style-type: decimal; }

[i-typography] small,
[i-typography] sub,
[i-typography] sup {
    font-size: 75%;
}

[i-typography] sub,
[i-typography] sup {
    vertical-align: baseline;
    position: relative;
    line-height: 0;
}

[i-typography] sup { top: -0.5em; }

[i-typography] sub { bottom: -0.25em; }

[i-typography] strong { font-weight: 700; }

[i-typography] em { font-style: italic; }

[i-typography] blockquote {
    margin-left: 0;
    margin-right: 0;
    padding-left: var(--s-leading);
    box-shadow: inset 0.25rem 0 0 0 var(--c-silver);
    font-style: italic;
}

[i-typography] blockquote cite::before {
    content: "\2014";
    display: inline-block;
    margin-right: 0.25rem;
}

[i-typography] code,
[i-typography] pre {
    font-family: var(--font-monospace);
}

[i-typography] code {
    display: inline-block;
    vertical-align: bottom;
    border-radius: var(--s-global-br);
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    background-color: var(--c-silver);
    color: var(--c-blackcurrant);
    font-size: 0.75rem;
    line-height: var(--s-leading);
}

/* bigger blocks */
[i-typography] pre code {
    display: block;
    overflow: auto;
    max-width: 100%;
}
