/*------------------------------------------------------------------------------
postSummary base
------------------------------------------------------------------------------*/

@import "thumbnail.css";

[gui-postsummary-container] {
    text-align: center;
}

[gui-postsummary] {
    display: inline-block;
    margin-left: var(--s-leading);
    margin-right: var(--s-leading);
    margin-bottom: calc(var(--s-leading) * 2);

    text-align: center;
}

[gui-postsummary-date] {
    display: block;
    text-transform: lowercase;
}
