/*------------------------------------------------------------------------------
postSummary base
------------------------------------------------------------------------------*/

@import "config.css";
@import "thumbnail.css";
@import "categories.css";

[gui-postsummary-container] {
    text-align: center;
}

[gui-postsummary] {
    display: inline-block;
    margin-left: calc(var(--rootLineHeight) * 1rem);
    margin-right: calc(var(--rootLineHeight) * 1rem);
    margin-bottom: calc(var(--rootLineHeight) * 2rem);

    text-align: center;
}

[gui-postsummary-date] {
    display: block;
    text-transform: lowercase;
}
