/*******************************************************************************
project-image module
*******************************************************************************/

[i-project-image] {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: var(--s-leading);
    max-width: 100%;
}

[i-project-image-thumbnail],
[i-project-image-thumbnail] img {
    max-width: inherit;
}

[i-project-image-title] {
    display: block;
}
