/*******************************************************************************
project-image module
*******************************************************************************/

[i-project-image] {
    margin: 0 auto var(--s-leading);
    max-width: 100%;
}

[i-project-image-thumbnail],
[i-project-image-thumbnail] img {
    max-width: inherit;
}

[i-project-image-title] {
    display: block;
}
