/*******************************************************************************
post-summary module
*******************************************************************************/

:root {
    --s-post-summary-thumbnail: calc(var(--s-leading) * 9); /* 216px */
}

[i-post-summary] {
    display: inline-block;
    vertical-align: top;
    padding: var(--s-leading);
    padding-bottom: var(--s-leading-double);
    max-width: calc(var(--s-post-summary-thumbnail) + calc(var(--s-leading) * 2));
}

[i-post-summary--date] {
    display: block;
    text-transform: lowercase;
}

[i-post-summary--date]::before {
    content: "@\00a0";
    display: inline-block;
}

/*******************************************************************************
post-summary thumbnail
*******************************************************************************/

[i-post-summary--thumbnail] {
    display: block;
    position: relative;
    /* remove link styles */
    background-image: none !important;
}

[i-post-summary--thumbnail-title] {
    display: block;
    /* computed height of leading and margins is 2x default leading */
    margin-top: calc(var(--s-leading) * 0.5);
    margin-bottom: calc(var(--s-leading) * 0.5);
    font-size: 1.5rem;
    font-weight: 700;
    line-height: var(--s-leading);
    text-align: center;
}

[i-post-summary--thumbnail-icon] {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: var(--s-post-summary-thumbnail);
    height: var(--s-post-summary-thumbnail);
    fill: currentColor;
}

[i-post-summary--thumbnail-description] {
    display: inline-block;
    margin-top: calc(var(--s-leading) * 0.5);
    margin-bottom: calc(var(--s-leading) * 0.5);
    max-width: var(--s-post-summary-thumbnail);
    text-align: left;
}

/* states ordered to make styles always work */

[i-post-summary--thumbnail]:visited,
[i-post-summary--thumbnail]:visited [i-post-summary--thumbnail-title],
[i-post-summary--thumbnail]:visited [i-post-summary--thumbnail-description] {
    color: var(--c-global-visited);
}

[i-post-summary--thumbnail]:visited [i-post-summary--thumbnail-icon] {
    fill: var(--c-global-visited);
}

[i-post-summary--thumbnail]:hover,
[i-post-summary--thumbnail]:hover [i-post-summary--thumbnail-title],
[i-post-summary--thumbnail]:hover [i-post-summary--thumbnail-description] {
    color: var(--c-global-hover);
}

[i-post-summary--thumbnail]:hover [i-post-summary--thumbnail-icon] {
    fill: var(--c-global-hover);
}

[i-post-summary--thumbnail]:active,
[i-post-summary--thumbnail]:active [i-post-summary--thumbnail-title],
[i-post-summary--thumbnail]:active [i-post-summary--thumbnail-description] {
    color: var(--c-global-active);
}

[i-post-summary--thumbnail]:active [i-post-summary--thumbnail-icon] {
    fill: var(--c-global-active);
}
