/*------------------------------------------------------------------------------
signature base
------------------------------------------------------------------------------*/

[gui-signature] {
    float: left;

    font-weight: 700;
    text-transform: lowercase;
    font-style: italic;

    /* magic value too look perfect (for 4 lines of text) */
    line-height: 0.875rem;

    /* magic value to match missing pixels for 4 times rootLineHeight */
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
