{% comment %}
This is just for Natalki project. It should mimic picture.liquid.
@param caption - required caption that will be added as figcaption
{% endcomment %}
<figure i-picture>
  <a i-picture--link href="https://www.youtube.com/watch?v=ezLfYPSzxzU" target="_blank">
    &#8864;
  </a>
  <figcaption i-picture--caption>{{ include.caption }}</figcaption>
</figure>
