//------------------------------------------------------------------------------
// lists module
//------------------------------------------------------------------------------

/*
<ul gui-list="padded">
    <li>ONE</li>
    <li>TWO</li>
    <li gui-listItem-empty>EMPTY LIST INFO</li>
</ul>
*/

@import "modules/lists/config";

[gui-list] {
    list-style: none;
    margin: 0;
    padding: 0;
}

[gui-list~="inline"] {
    display: inline-block;
    vertical-align: middle;
    & > li {
        display: inline-block;
        vertical-align: middle;
    }
}

[gui-list~="spaced"] > li { padding: rem($w-small); }

[gui-list~="padded"] { padding: rem($w-small); }

[gui-list~="ruled"] {
    > li {
        &:not(:first-of-type) {
            border-top: rem(1px) solid $list-ruled-border-c;
        }
    }
}

[gui-listItem-empty]:not(:only-of-type) { display: none; }
