//------------------------------------------------------------------------------
// boxes module
//------------------------------------------------------------------------------

/*
<div gui-box="padded black"></div>
*/

@import "modules/boxes/config";

[gui-box] { @include box-sizing(border-box); }

[gui-box~="inline"] {
    display: inline-block;
    vertical-align: middle;
}

// for defining new padded options
@mixin boxPadded($name, $spacing) {
    [gui-box~="padded#{$name}"] { padding: $spacing; }
    [gui-box~="padded#{$name}H"] { padding-left: $spacing; padding-right: $spacing; }
    [gui-box~="padded#{$name}V"] { padding-top: $spacing; padding-bottom: $spacing; }
    [gui-box~="padded#{$name}T"] { padding-top: $spacing; }
    [gui-box~="padded#{$name}R"] { padding-right: $spacing; }
    [gui-box~="padded#{$name}B"] { padding-bottom: $spacing; }
    [gui-box~="padded#{$name}L"] { padding-left: $spacing; }
}

@include boxPadded('Big', rem($space-big));
@include boxPadded('', rem($space-medium)); // default padded modifier
@include boxPadded('Small', rem($space-small));

@mixin boxColored($label, $txt, $bg) {
    [gui-box~="#{$label}"] {
        color: $txt;
        background-color: $bg;
    }
}

@include boxColored('black', white, black);
@include boxColored('amaranth', white, $c-amaranth);
@include boxColored('purple', white, $c-purple);
@include boxColored('violet', white, $c-violet);
@include boxColored('charcoal', white, $c-charcoal);
@include boxColored('silver', $app-txt-c, $c-silver);
