//------------------------------------------------------------------------------
// all base spacing pair-rules
//------------------------------------------------------------------------------

// vertical
article,
section,
header,
footer {
    &:not(:last-child) { margin-bottom: $rootLineHeight * 2rem; }
}
h1, h2, h3, h4,
p, ol, ul, blockquote, hr,
table, table > caption, figure, pre,
[gui-progress]:not([gui-progress~="inline"]) {
    &:not(:last-child) { margin-bottom: $rootLineHeight * 1rem; }
}

// horizontal
label,
[gui-badge],
[gui-box~="inline"],
[gui-button]:not([gui-button~="full"]),
[gui-dropdown],
[gui-checkbox],
[gui-radio],
[gui-icon],
[gui-image],
[gui-progress~="inline"],
[gui-textBox] {
    &:not(:last-child) { margin-right: rem($space-little); }
}
