/*------------------------------------------------------------------------------
postFurther config
------------------------------------------------------------------------------*/

:root {

    /* thumbnail */
    --postFurther-c: currentColor;
    --postFurther-c-hover: var(--c-amaranth);
    --postFurther-c-active: var(--c-purple);
    --postFurther-c-visited: var(--c-violet);
    --postFurther-icon-w: 6rem; /* 96px @ 16px */

}
