/*------------------------------------------------------------------------------
logo config
------------------------------------------------------------------------------*/

:root {

    --logo-w: calc(var(--rootLineHeight) * 4rem); /* 96px */
    --logo-c: currentColor;
    --logo-c-visited: currentColor;
    --logo-c-hover: var(--c-amaranth);
    --logo-c-active: var(--c-purple);

}
