<nav>
    <ul gui-list="inline">

        {% for place in site.data.navigation %}
        <li>
            <a href="{{ site.baseurl }}{{ place.url }}">
                {{ place.label }}
            </a>
        </li>
        {% endfor %}

    </ul>
</nav>
