/*------------------------------------------------------------------------------
logo config
------------------------------------------------------------------------------*/

:root {

    --logo-w: 6rem; /* 96px @ 16px */
    --logo-c: currentColor;
    --logo-c-visited: currentColor;
    --logo-c-hover: var(--c-amaranth);
    --logo-c-active: var(--c-purple);

}
