/*******************************************************************************
related-projects module
*******************************************************************************/

[i-related-projects] {
    display: block;
    float: left;
    clear: both;
    /* remove link styles */
    background-image: none !important;
}

[i-related-projects]:not(:last-child) {
    margin-bottom: var(--s-leading);
}

[i-related-projects--title] { font-weight: 700; }

[i-related-projects--icon],
[i-related-projects--title],
[i-related-projects--subtitle] {
    display: inline-block;
    /* not middle, because of generating additional vertical pxs */
    vertical-align: top;
}

[i-related-projects--icon] {
    width: var(--s-leading);
    height: var(--s-leading);
    fill: currentColor;
}

/* states ordered to make styles always work */

[i-related-projects]:visited {
    color: var(--c-global-visited);
}

[i-related-projects]:visited [i-related-projects--icon] {
    fill: var(--c-global-visited);
}

[i-related-projects]:hover {
    color: var(--c-global-hover);
}

[i-related-projects]:hover [i-related-projects--icon] {
    fill: var(--c-global-hover);
}

[i-related-projects]:active {
    color: var(--c-global-active);
}

[i-related-projects]:active [i-related-projects--icon] {
    fill: var(--c-global-active);
}
