/*******************************************************************************
related-projects module
*******************************************************************************/

[i-related-projects] {
    clear: both;
    overflow: hidden;
    padding: var(--s-leading);
}

[i-related-project] {
    display: block;
    float: left;
    /* remove link styles */
    background-image: none !important;
}

[i-related-project]:not(:last-child) {
    margin-bottom: var(--s-leading);
}

[i-related-project--title] { font-weight: 700; }

[i-related-project--icon],
[i-related-project--title],
[i-related-project--subtitle] {
    display: inline-block;
    /* not middle, because of generating additional vertical pxs */
    vertical-align: top;
}

[i-related-project--icon] {
    width: var(--s-leading);
    height: var(--s-leading);
    fill: currentColor;
}

/* states ordered to make styles always work */

[i-related-project]:visited {
    color: var(--c-global-visited);
}

[i-related-project]:visited [i-related-project--icon] {
    fill: var(--c-global-visited);
}

[i-related-project]:hover {
    color: var(--c-global-hover);
}

[i-related-project]:hover [i-related-project--icon] {
    fill: var(--c-global-hover);
}

[i-related-project]:active {
    color: var(--c-global-active);
}

[i-related-project]:active [i-related-project--icon] {
    fill: var(--c-global-active);
}
