/*------------------------------------------------------------------------------
menu base
------------------------------------------------------------------------------*/

@import "config.css";

[gui-menu]:not(:last-child) {
    margin-bottom: calc(var(--rootLineHeight) * 1rem);
}

[gui-menu]:after {
    content: '';
    display: table;
    clear: both;
}

[gui-menu-item] {
    display: block;
    float: left;

    text-transform: lowercase;
}

[gui-menu-item]:not(:last-child) {
    margin-right: var(--w-small);
}

[gui-menu-item~="current"] {
    padding-left: var(--w-little);
    padding-right: var(--w-little);

    background-image: var(--menu-item-current-line-gr) !important;
    background-repeat: repeat-x, repeat-y;
    background-position: 0 0, 100% 0, 0 100%;
}
