/*------------------------------------------------------------------------------
pageTitle base
------------------------------------------------------------------------------*/

[gui-pageTitle] {
    margin-bottom: calc(var(--rootLineHeight) * 2rem);
    max-width: var(--app-content-w);
    margin-left: auto;
    margin-right: auto;
}

[gui-pageTitle-name] {
    font-weight: 400;
    font-size: 4rem;
    line-height: calc(var(--rootLineHeight) * 2rem);
}

[gui-pageTitle-meta] {
    display: block;
    margin-top: calc(var(--rootLineHeight) * 1rem);

    font-style: italic;
    text-transform: lowercase;
}

[gui-pageTitle-description] {
    display: block;
    margin-top: calc(var(--rootLineHeight) * 1rem);

    font-weight: 700;
}
