/*------------------------------------------------------------------------------
pageTitle base
------------------------------------------------------------------------------*/

[gui-pageTitle] {
    margin-bottom: calc(var(--rootLineHeight) * 2rem);

    font-weight: 700;
    font-size: 3rem;
    line-height: calc(var(--rootLineHeight) * 2rem);
}
