/*------------------------------------------------------------------------------
devPalette base
------------------------------------------------------------------------------*/

[gui-devpalette-color] {
    padding: var(--w-medium);
    color: var(--c-white);
    font-size: var(--w-small);
}

[gui-devpalette-color~="amaranth"] {
    background-color: var(--c-amaranth);
}

[gui-devpalette-color~="purple"] {
    background-color: var(--c-purple);
}

[gui-devpalette-color~="violet"] {
    background-color: var(--c-violet);
}

[gui-devpalette-color~="blackcurrant"] {
    background-color: var(--c-blackcurrant);
}
