/*------------------------------------------------------------------------------
main styles aggregation
------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------
all DESCRIPTIVE variables (colors, sizes, etc.)
------------------------------------------------------------------------------*/

:root {

    /* colors */

    /* font families */

    /* fractions */

    /* percents */

    /* durations */

    /* z-indexes */

    /* sizes */ /* 80px @ 16px */ /* 64px @ 16px */ /* 40px @ 16px */ /* 32px @ 16px */ /* 20px @ 16px */ /* 16px @ 16px */ /* 10px @ 16px */ /* 8px @ 16px */ /* 5px @ 16px */

}
/*------------------------------------------------------------------------------
common FUNCTIONAL variables (each module has own config file)
------------------------------------------------------------------------------*/

:root {

    /* base */

    /* breakpoints */

    /* root typography with font sizes for different screens scaling */

    /* specific elements */ /* 1px 1px @ 16px */ /* 2px @ 16px */ /* 4px @ 16px */

}
/*------------------------------------------------------------------------------
custom media queries and selectors
------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------
root stuff and normalizations
------------------------------------------------------------------------------*/

/* clever page scaling with root font size changes */

html {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    font-family: "Source Sans Pro", sans-serif;

    min-height: 100%;

    color: hsl(276, 32%, 12%);
    background-color: hsl(0, 0%, 100%);

    box-sizing: border-box;
}

@media min-width: var(--break-bigger) { html { font-size: 18px; } }

@media max-width: var(--break-smaller) { html { font-size: 14px; } }

*, *:before, *:after {
    box-sizing: inherit;
}
/*------------------------------------------------------------------------------
base typographic rules
------------------------------------------------------------------------------*/

h1,
h2,
h3,
h4 {
    line-height: 1;
    margin: 0;
    padding: 0;
}

h1 { font-size: 48px; font-size: 3rem; }

h2 { font-size: 32px; font-size: 2rem; }

h3 { font-size: 24px; font-size: 1.5rem; }

h4 {
    font-size: inherit;
    font-weight: 700;
}

p { margin: 0; }

ul, ol { margin-left: 24px; margin-left: 1.5rem; }

ul { list-style-type: disc; }

ol { list-style-type: decimal; }

small, sub, sup { font-size: 75%; }

sub, sup {
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup { top: -0.5em; }

sub { bottom: -0.25em; }

strong { font-weight: 700; }

em { font-style: italic; }

blockquote {
    font-style: italic;
    cite { font-style: normal; }
}
/*------------------------------------------------------------------------------
user-action influenced states
------------------------------------------------------------------------------*/

/* links */

a {
    color: inherit;
    text-decoration: none;

    /* custom underlines */
    background-position: 0 100%;
    background-size: 0.0625rem 0.0625rem;
    background-image: -webkit-linear-gradient(right, currentColor 0%, currentColor 0%);
    background-image: linear-gradient( to left, currentColor 0%, currentColor 0% );
    background-repeat: repeat-x;
}

a:hover {
    color: inherit;
    background-size: 0.125rem 0.125rem;
}

a:visited { color: inherit; }

a:active { color: hsl(348, 96%, 56%); }

/* text selection */

:focus {
    outline-color: hsl(348, 96%, 56%);
    outline-style: auto;
    outline-width: 4px;
    outline-width: 0.25rem;
}

::-moz-focus-inner { border: 0; }

::-moz-selection {
    color: hsl(0, 0%, 100%);
    background-color: hsl(348, 96%, 56%);
}

::selection {
    color: hsl(0, 0%, 100%);
    background-color: hsl(348, 96%, 56%);
}

/* disabled elements */

[disabled] {
    pointer-events: none;
    opacity: 0.50;

    /* avoid adding up opacity on nested disabled elements */
    [disabled] { opacity: 1; }
}
/*------------------------------------------------------------------------------
sizing base layout parts
------------------------------------------------------------------------------*/

body { margin: 0; }

#unmovedMover {
    width: 100%;
    padding: 48px
        24px
    ;
    padding: 3rem
        1.5rem
    ;
}

/*------------------------------------------------------------------------------
devPalette base
------------------------------------------------------------------------------*/

[gui-devPalette-color] {
    padding: 16px;
    padding: 1rem;
    color: hsl(0, 0%, 100%);
    font-size: 10px;
    font-size: 0.625rem;
}

[gui-devPalette-color~="amaranth"] {
    background-color: hsl(348, 96%, 56%);
}

[gui-devPalette-color~="purple"] {
    background-color: hsl(328, 72%, 44%);
}

[gui-devPalette-color~="violet"] {
    background-color: hsl(276, 60%, 36%);
}

[gui-devPalette-color~="blackcurrant"] {
    background-color: hsl(276, 32%, 12%);
}
/*------------------------------------------------------------------------------
logo base
------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------
logo config
------------------------------------------------------------------------------*/

:root { /* 96px */

}

[gui-logo] {
    display: block;
    width: 96px;
    width: 6rem;
    height: 96px;
    height: 6rem;

    margin-bottom: 24px;
    margin-bottom: 1.5rem;

    /* remove link styles */
    background-image: none !important;
}

[gui-logo] svg {
    width: 96px;
    width: 6rem;
    height: 96px;
    height: 6rem;
    fill: currentColor;
}

/* states ordered to make styles always work */

[gui-logo]:visited svg { fill: currentColor; }

[gui-logo]:hover svg { fill: hsl(348, 96%, 56%); }

[gui-logo]:active svg { fill: hsl(328, 72%, 44%); }
/*------------------------------------------------------------------------------
menu base
------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------
menu config
------------------------------------------------------------------------------*/

[gui-menu]:not(:last-child) {
    margin-bottom: 24px;
    margin-bottom: 1.5rem;
}

[gui-menu]:after {
    content: '';
    display: table;
    clear: both;
}

[gui-menu-item] {
    display: block;
    float: left;

    text-transform: lowercase;
}

[gui-menu-item]:not(:last-child) {
    margin-right: 10px;
    margin-right: 0.625rem;
}

[gui-menu-item~="current"] {
    padding-left: 8px;
    padding-left: 0.5rem;
    padding-right: 8px;
    padding-right: 0.5rem;

    background-image: -webkit-linear-gradient(left, currentColor 0%, currentColor 0%), -webkit-linear-gradient(top, currentColor 0%, currentColor 0%), -webkit-linear-gradient(right, currentColor 0%, currentColor 0%), -webkit-linear-gradient(bottom, currentColor 0%, currentColor 0%) !important;

    background-image: linear-gradient( to right, currentColor 0%, currentColor 0% ),
        linear-gradient( to bottom, currentColor 0%, currentColor 0% ),
        linear-gradient( to left, currentColor 0%, currentColor 0% ),
        linear-gradient( to top, currentColor 0%, currentColor 0% )
     !important;
    background-repeat: repeat-x, repeat-y;
    background-position: 0 0, 100% 0, 0 100%;
}
/*------------------------------------------------------------------------------
pageTitle base
------------------------------------------------------------------------------*/

[gui-pageTitle] {

}

[gui-pageTitle-name] {
    font-weight: 400;
    font-size: 64px;
    font-size: 4rem;
    line-height: 48px;
    line-height: 3rem;
}

[gui-pageTitle-meta] {
    display: block;

    font-style: italic;
    text-transform: lowercase;

    margin-top: 24px;
    margin-top: 1.5rem;
}
/*------------------------------------------------------------------------------
pageSection base
------------------------------------------------------------------------------*/

[gui-pageSection] {
    margin-bottom: 48px;
    margin-bottom: 3rem;
}

[gui-pageSection~="short"] {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

[gui-pageSection]:after {
    content: '';
    display: table;
    clear: both;
}
/*------------------------------------------------------------------------------
signature base
------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------
signature config
------------------------------------------------------------------------------*/

[gui-signature] {
    float: left;

    font-weight: 700;
    text-transform: lowercase;
    font-style: italic;

    /* remove link styles */
    background-image: none !important;

    /* magic value too look perfect */
    line-height: 14px;
    line-height: 0.875rem;

}

[gui-signature~="3"] {
    /* magic value to match missing pixels for 3 times rootLineHeight */
    padding-top: 3px;
    padding-top: 0.1875rem;
    padding-bottom: 3px;
    padding-bottom: 0.1875rem;
}

[gui-signature~="4"] {
    /* magic value to match missing pixels for 4 times rootLineHeight */
    padding-top: 8px;
    padding-top: 0.5rem;
    padding-bottom: 8px;
    padding-bottom: 0.5rem;
}

[gui-signature]:visited { color: currentColor; }
[gui-signature]:hover { color: hsl(348, 96%, 56%); }
[gui-signature]:active { color: hsl(328, 72%, 44%); }
/*------------------------------------------------------------------------------
postSummary base
------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------
postSummary config
------------------------------------------------------------------------------*/

:root { /* 216px */

}
/*------------------------------------------------------------------------------
postSummary thumbnail part
------------------------------------------------------------------------------*/

[gui-postSummary-thumbnail] {
    display: block;
    position: relative;

    /* remove link styles */
    background-image: none !important;
}

[gui-postSummary-thumbnail-title] {
    display: block;

    font-size: 24px;
    font-size: 1.5rem;
    font-weight: 700;

    /* computed height of leading and margins is 2x default leading */
    line-height: 24px;
    line-height: 1.5rem;
    margin-top: 12px;
    margin-top: 0.75rem;
    margin-bottom: 12px;
    margin-bottom: 0.75rem;
}

[gui-postSummary-thumbnail-icon] {
    display: block;
    width: 216px;
    width: 13.5rem;
    height: 216px;
    height: 13.5rem;
    margin-left: auto;
    margin-right: auto;

    fill: currentColor;
}

[gui-postSummary-thumbnail-description] {
    display: block;
    position: absolute;
    z-index: 10;
    top: 100%;
    left: -10%;
    right: -10%;

    margin-top: 12px;
    margin-top: 0.75rem;
    padding: 12px;
    padding: 0.75rem;

    background-color: hsl(0, 0%, 100%);
    box-shadow: 0 0 0 0.0625rem currentColor;

    pointer-events: none;

    text-align: left;

    visibility: hidden;
    opacity: 0;

    -webkit-transition-property: opacity, visibility;

            transition-property: opacity, visibility;
    -webkit-transition-delay: 0.125s;
            transition-delay: 0.125s;
    -webkit-transition-duration: 0.25s;
            transition-duration: 0.25s;
}

[gui-postSummary-thumbnail]:hover [gui-postSummary-thumbnail-description] {
    visibility: visible;
    opacity: 1;

    -webkit-transition-property: opacity, visibility;

            transition-property: opacity, visibility;
    -webkit-transition-delay: 1s;
            transition-delay: 1s;
    -webkit-transition-duration: 0.25s;
            transition-duration: 0.25s;
}

/* states ordered to make styles always work */

[gui-postSummary-thumbnail]:visited {
    color: hsl(276, 60%, 36%);
}
[gui-postSummary-thumbnail]:visited [gui-postSummary-thumbnail-icon] {
    fill: hsl(276, 60%, 36%);
}

[gui-postSummary-thumbnail]:hover {
    color: hsl(348, 96%, 56%);
}
[gui-postSummary-thumbnail]:hover [gui-postSummary-thumbnail-icon] {
    fill: hsl(348, 96%, 56%);
}

[gui-postSummary-thumbnail]:active {
    color: hsl(328, 72%, 44%);
}
[gui-postSummary-thumbnail]:active [gui-postSummary-thumbnail-icon] {
    fill: hsl(328, 72%, 44%);
}
/*------------------------------------------------------------------------------
postSummary categories part
------------------------------------------------------------------------------*/

[gui-postSummary-categories] {
    display: inline-block;
    vertical-align: top;
}

[gui-postSummary-categories]:after {
    content: '';
    display: table;
    clear: both;
}

[gui-postSummary-categories] a {
    display: block;
    float: left;

    text-transform: lowercase;
}

[gui-postSummary-categories] a:not(:last-child) {
    margin-right: 10px;
    margin-right: 0.625rem;
}

[gui-postSummary-container] {
    text-align: center;
}

[gui-postSummary] {
    display: inline-block;
    margin-left: 24px;
    margin-left: 1.5rem;
    margin-right: 24px;
    margin-right: 1.5rem;
    margin-bottom: 48px;
    margin-bottom: 3rem;

    text-align: center;
}

[gui-postSummary-date] {
    display: block;
    text-transform: lowercase;
}
/*------------------------------------------------------------------------------
projectRelated base
------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------
projectRelated config
------------------------------------------------------------------------------*/

[gui-projectRelated] {
    display: block;
    float: left;
    clear: both;

    /* remove link styles */
    background-image: none !important;
}

[gui-projectRelated]:not(:last-child) {
    margin-bottom: 24px;
    margin-bottom: 1.5rem;
}

[gui-projectRelated-title] { font-weight: 700; }


[gui-projectRelated-icon],
[gui-projectRelated-title],
[gui-projectRelated-subtitle] {
    display: inline-block;
    vertical-align: middle;
}

[gui-projectRelated-icon] {
    width: 24px;
    width: 1.5rem;
    height: 24px;
    height: 1.5rem;
    margin-left: auto;
    margin-right: auto;

    fill: currentColor;
}

/* states ordered to make styles always work */

[gui-projectRelated]:visited {
    color: hsl(276, 60%, 36%);
}
[gui-projectRelated]:visited [gui-projectRelated-icon] {
    fill: hsl(276, 60%, 36%);
}

[gui-projectRelated]:hover {
    color: hsl(348, 96%, 56%);
}
[gui-projectRelated]:hover [gui-projectRelated-icon] {
    fill: hsl(348, 96%, 56%);
}

[gui-projectRelated]:active {
    color: hsl(328, 72%, 44%);
}
[gui-projectRelated]:active [gui-projectRelated-icon] {
    fill: hsl(328, 72%, 44%);
}
/*------------------------------------------------------------------------------
projectContent base
------------------------------------------------------------------------------*/

/* handles markdown-generated content of Jekyll posts */

[gui-projectContent] {
    margin-bottom: 48px;
    margin-bottom: 3rem;
}

[gui-projectContent] > ul,
[gui-projectContent] > ol,
[gui-projectContent] > code,
[gui-projectContent] > blockquote,
[gui-projectContent] > p {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

[gui-projectContent] > ul:not(:last-child),
[gui-projectContent] > ol:not(:last-child),
[gui-projectContent] > code:not(:last-child),
[gui-projectContent] > blockquote:not(:last-child),
[gui-projectContent] > p:not(:last-child) {
    margin-bottom: 24px;
    margin-bottom: 1.5rem;
}

[gui-projectContent] > ul,
[gui-projectContent] > ol {
    margin-top: 0;
}
/*------------------------------------------------------------------------------
projectImage base
------------------------------------------------------------------------------*/

[gui-projectImage] {
    max-width: 100%;

    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
    margin-bottom: 1.5rem;
}

[gui-projectImage-thumbnail],
[gui-projectImage-thumbnail] img {
    max-width: inherit;
}

[gui-projectImage-title] {
    display: block;
}
