/*------------------------------------------------------------------------------
sizing base layout parts
------------------------------------------------------------------------------*/

body { margin: 0; }

#unmovedMover {
    box-sizing: border-box;
    width: 100%;
    padding: calc(var(--rootLineHeight) * 1rem) calc(var(--rootLineHeight) * 0.5rem);
}

#pageHeader,
#pageContent {
    max-width: var(--app-content-w);
    margin-left: auto;
    margin-right: auto;
}
