/*------------------------------------------------------------------------------
sizing base layout parts
------------------------------------------------------------------------------*/

body { margin: 0; }

#unmovedMover {
    width: 100%;
    padding:
        calc(var(--rootLineHeight) * 2rem)
        calc(var(--rootLineHeight) * 1rem)
    ;
    box-sizing: border-box;
}

#pageHeader,
#pageContent {
    max-width: var(--app-content-w);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: calc(var(--rootLineHeight) * 2rem);
}

#pageHeader:after,
#pageContent:after {
    content: '';
    display: table;
    clear: both;
}
