/*------------------------------------------------------------------------------
pageSection base
------------------------------------------------------------------------------*/

[gui-pagesection] {
    margin-bottom: calc(var(--rootLineHeight) * 2rem);
}

[gui-pagesection~="short"] {
    max-width: var(--app-content-w);
    margin-left: auto;
    margin-right: auto;
}

[gui-pagesection]:after {
    content: '';
    display: table;
    clear: both;
}
