//------------------------------------------------------------------------------
// columns module
//------------------------------------------------------------------------------

// Remember to truncate the white space between columns!

/*
<div gui-column="1/2 middle">LEFT</div>
<div gui-column="1/2 middle">RIGHT</div>
*/

@import "modules/columns/config";

[gui-column] { @include columnInit(); }

// custom vertical aligns
[gui-column~="top"] { vertical-align: top; }
[gui-column~="middle"] { vertical-align: middle; }
[gui-column~="bottom"] { vertical-align: bottom; }

// generate all useful ams with loop
@for $a from 2 through $column-max {
    @for $b from 1 through ($a - 1) {
        // all columns
        [gui-column~="#{$b}/#{$a}"] { @include columnSet($b, $a); }
        // all column spaces on left and right
        [gui-columnBefore~="#{$b}/#{$a}"] { @include columnBefore($b, $a); }
        [gui-columnAfter~="#{$b}/#{$a}"] { @include columnAfter($b, $a); }
    }
}
