{% include htmlBegin.liquid %}

{% include global/pageHeader.liquid %}

<section role="main">
    <section i-pagesection="short">
        {% include helpers/categoryDescription.liquid categorySlug=page.slug %}
    </section>

    <section i-postsummary-container>
        {% for post in site.posts %}
            {% if post.categories contains page.slug %}
                {% include listing/postSummary.liquid %}
            {% endif %}
        {% endfor %}
    </section>
</section>

{% include global/pageFooter.liquid %}

{% include htmlEnd.liquid %}
