{% include setup/template-start.liquid %}

{% include modules/main-menu/main-menu.liquid %}

<section role="main">
    {% include modules/category-description/category-description.liquid categorySlug=page.slug %}

    {% include modules/projects-list/projects-list.liquid %}
</section>

{% include modules/signature/signature.liquid %}

{% include setup/template-end.liquid %}
