{% include setup/template-start.liquid %}

{% include modules/main-menu/main-menu.liquid %}

<section role="main">
    <section i-prettypography i-project-content>
        {{ content }}
    </section>

    {% include modules/projects-list/projects-list.liquid %}
</section>

{% include modules/signature/signature.liquid %}

{% include setup/template-end.liquid %}
