{% include setup/template-start.liquid %}

{% include modules/page-header.liquid %}

<section role="main">
    <section i-page-section="short">
        {% include modules/category-description.liquid categorySlug=page.slug %}
    </section>

    <section i-post-summary-container>
        {% for post in site.posts %}
            {% if post.categories contains page.slug %}
                {% include modules/post-summary/post-summary.liquid %}
            {% endif %}
        {% endfor %}
    </section>
</section>

{% include modules/page-footer.liquid %}

{% include setup/template-end.liquid %}
