{% include html-begin.liquid %}

    {% include partials/page-header.liquid %}

    <section id="pageContent" role="main">

        <h2>{% include helpers/category-label.liquid category=page.category %}</h2>

        {% for post in site.posts %}
        {% if post.categories contains page.category %}
        {% include modules/post-summary.liquid %}
        {% endif %}
        {% endfor %}

    </section>

    {% include partials/page-footer.liquid %}

{% include html-end.liquid %}
