{% include appSetup/templateStart.liquid %}

{% include modules/pageHeader.liquid %}

<section role="main">
    <section i-pagesection="short">
        {% include modules/categoryDescription.liquid categorySlug=page.slug %}
    </section>

    <section i-postsummary-container>
        {% for post in site.posts %}
            {% if post.categories contains page.slug %}
                {% include modules/listing/postSummary.liquid %}
            {% endif %}
        {% endfor %}
    </section>
</section>

{% include modules/pageFooter.liquid %}

{% include appSetup/templateEnd.liquid %}
