{% include html-begin.liquid %}

    {% include partials/page-header.liquid %}

    <section id="pageContent" role="main">

        {{ content }}

    </section>

    {% include partials/page-footer.liquid %}

{% include html-end.liquid %}
