{% include html-begin.liquid %}
{% include page-header.liquid %}

    <section id="appContent" role="main">

        {{ content }}

    </section>

{% include page-footer.liquid %}
{% include html-end.liquid %}
