{% include setup/template-start.liquid %}

{% include modules/main-menu/main-menu.liquid %}

<section role="main">{{ content }}</section>

{% include modules/page-footer.liquid %}

{% include setup/template-end.liquid %}
