{% include setup/template-start.liquid %}

{% include modules/page-header.liquid %}

<section role="main">{{ content }}</section>

{% include modules/page-footer.liquid %}

{% include setup/template-end.liquid %}
