{% include htmlBegin.liquid %}

    {% include partials/pageHeader.liquid %}

    <section id="pageContent" role="main">

        {{ content }}

    </section>

    {% include partials/pageFooter.liquid %}

{% include htmlEnd.liquid %}
