{% include setup/template-start.liquid %}

{% include modules/main-menu/main-menu.liquid %}

<section role="main">
    {% include modules/project-header/project-header.liquid %}

    <section i-prettypography i-project-content>
        {{ content }}
    </section>

    {% include modules/related-projects/related-projects.liquid %}
</section>

{% include modules/signature/signature.liquid %}

{% include setup/template-end.liquid %}
