/*------------------------------------------------------------------------------
projectRelated base
------------------------------------------------------------------------------*/

@import "config.css";

[gui-projectrelated] {
    display: block;
    float: left;
    clear: both;

    /* remove link styles */
    background-image: none !important;
}

[gui-projectrelated]:not(:last-child) {
    margin-bottom: calc(var(--rootLineHeight) * 1rem);
}

[gui-projectrelated-title] { font-weight: 700; }

[gui-projectrelated-icon],
[gui-projectrelated-title],
[gui-projectrelated-subtitle] {
    display: inline-block;
    /* not middle, because of generating additional vertical pxs */
    vertical-align: top;
}

[gui-projectrelated-icon] {
    width: var(--projectRelated-symbol-w);
    height: var(--projectRelated-symbol-w);

    fill: var(--projectRelated-c);
}

/* states ordered to make styles always work */

[gui-projectrelated]:visited {
    color: var(--projectRelated-c-visited);
}
[gui-projectrelated]:visited [gui-projectrelated-icon] {
    fill: var(--projectRelated-c-visited);
}

[gui-projectrelated]:hover {
    color: var(--projectRelated-c-hover);
}
[gui-projectrelated]:hover [gui-projectrelated-icon] {
    fill: var(--projectRelated-c-hover);
}

[gui-projectrelated]:active {
    color: var(--projectRelated-c-active);
}
[gui-projectrelated]:active [gui-projectrelated-icon] {
    fill: var(--projectRelated-c-active);
}
