/*******************************************************************************
signature module
*******************************************************************************/

[i-signature] {
  padding: var(--s-leading);
}

[i-signature--link] {
  display: block;
  margin: 0 0 0 auto;
  width: fit-content;
  color: currentColor;
  font-weight: 700;
  font-style: italic;
  font-size: 75%;
  line-height: calc(var(--s-leading) * 2 / 3);
  text-align: right;
  text-transform: lowercase;
  border-bottom: none;
}

[i-signature--link]:visited {
  color: currentColor;
}

[i-signature--link]:hover {
  color: var(--c-global-hover);
}

[i-signature--link]:active {
  color: var(--c-global-active);
}
