<nav i-main-menu>
    <a i-main-menu--icon-link="double" href="{{ site.baseurl }}/">
        <svg><use xlink:href="#symbol-smutnyleszek-logo"></svg>
    </a>{% comment %}

    {% endcomment %}<div i-main-menu--categories>
        {% capture categoriesIds %}{% for categoryData in site.data.categories %}{% if forloop.first == false %}|{% endif %}{{categoryData.slug}}{% endfor%}{% endcapture %}
        {% assign categoriesArray = categoriesIds | replace: " ", "" | split:"|" %}
        {% include modules/categories-list/categories-list.liquid categories=categoriesArray %}
    </div>{% comment %}

    {% endcomment %}<a i-main-menu--icon-link href="mailto:{{site.email}}">
        <svg><use xlink:href="#symbol-envelope"></svg>
    </a>
</nav>
