/*******************************************************************************
main-menu module
*******************************************************************************/

:root {
    --s-main-menu-logo: calc(var(--s-leading) * 2);
}

[i-main-menu] {
    padding: var(--s-leading);
}

[i-main-menu--categories],
[i-main-menu--mail],
[i-main-menu--logo] {
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.625rem;
}

[i-main-menu--mail] a {
    display: block;
}

/*******************************************************************************
logo part
*******************************************************************************/

[i-main-menu--logo] {
    width: var(--s-main-menu-logo);
    height: var(--s-main-menu-logo);
    /* remove link styles */
    background-image: none !important;
}

[i-main-menu--logo] svg {
    width: var(--s-main-menu-logo);
    height: var(--s-main-menu-logo);
    fill: currentColor;
}

/* states ordered to make styles always work */

[i-main-menu--logo]:visited svg { fill: currentColor; }

[i-main-menu--logo]:hover svg { fill: var(--c-global-hover); }

[i-main-menu--logo]:active svg { fill: var(--c-global-active); }
