/*******************************************************************************
categories-list module
*******************************************************************************/

[i-categories-list] {
  display: inline-block;
  vertical-align: bottom;
}

[i-categories-list--item] {
  text-transform: lowercase;
}

[i-categories-list--item~="current"] {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border: var(--s-global-bw) solid currentColor;
}

[i-categories-list--item]:not(:last-child) {
  margin-right: 0.625rem;
}
