<ul>

    {% for category in include.categories %}
    <li>
        <a href="{{ site.baseurl }}/category/{{ category }}">
            {% include helpers/categoryLabel.liquid category=category %}
        </a>
    </li>
    {% endfor %}

</ul>
